<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Ready to be prepared?</span>
      <span class="block text-orange-700">Start using Emergency Guide App today.</span>
    </h2>
    
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Get Started", new_user_session_path, class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-orange-700 hover:bg-orange-800 md:py-4 md:text-lg md:px-10" %>
      </div>
      
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="#features" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-orange-700 bg-white hover:bg-gray-100">
          Learn more
        </a>
      </div>
    </div>
  </div>
</div>